<%= search_form_for @q do |f| %>
<div id="search">
 <div id="item_info">
 	<h2>Search By Item Info</h2>
 		<p> <%= f.label "Item Name Contains" %>
  		<%= f.text_field :call_number_cont, :size => 20 %></p>
 </div>
 <div id="patron_info">
 	<h2>Search By Patron Info</h2>
 	<p> <%= f.label "Status" %><%= f.select :patron_status_eq, ["FACULTY", "FR", "GRAD", "GRAD-NCSU-DIST", "JR", "NCSU-DIST-FR", "NCSU-DIST-JR", "NCSU-DIST-SO", "NCSU-DIST-SR", "SO", "SR", "STAFF", "TRLN", "UNDERGRAD"], :include_blank => true %></p>
  	<p><%= f.label "College" %><%= f.select :patron_college_eq, ['UNCHASS', 'UNMGMT', 'UNENGR'], :include_blank => true %></p>
 </div>
 <div id="date_received">
 	<h2>Search By Checkout Info</h2>
 	<p> <%= f.label "Date" %><%= f.text_field :date_eq, :size => 10 %></p>
  	<p><%= f.label "Date Range " %><%= f.text_field :date_gteq , :size => 10 %><%= f.text_field :date_lteq, :size => 10 %>
 </div>
</div>
<div id="buttons">
 <div class="example1" id="submit_search"> <%= f.submit %></div> <div class="example1"><span><%= link_to "Clear Search", checkouts_path %></span></div> <div class="example1"><span><%= link_to "Download Results", :action => "index", :q => params[:q], :format => :csv %></span></div>
</div>
<% end %>
<div id="body">
<h2><span style="color:red">Number of Checkouts: <%= @checkouts.count %></span></h2>
<% if @checkouts.empty? %>
  <h2> <span style="font-size:18pt; color:grey">There are no checkouts that match your query</span></h2>
<% else %>
<p>Sort By: <%= sort_link @q, :date, "Date" %></p>

<table id="main">
  <tr>
    <th>Call Number</th>
    <th>Date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Duration</th>
    <th>Patron status</th>
    <th>Patron college</th>
    <th>Renewals</th>
  </tr>
<p><%= will_paginate @checkouts %></p>
<h2>View Charts</h2>
<%= link_to_function "Checkouts Over Time", "$('#checkouts_chart').toggle()" %> | <%= link_to_function "Checkouts By Patron Status", "$('#status_chart').toggle()" %><br />
<div id='checkouts_chart' style='width: 1750px; height: 700px; display:none'>
	<script type='text/javascript' charset='utf-8'>
	  $(function () {
	    new Highcharts.Chart({
		    chart: { renderTo: 'checkouts_chart' },
		    title: { text: 'Checkouts over Time' },
		    xAxis: { type: 'datetime' },
		    yAxis: {
			  min: 0,
		      title: { text: 'Checkouts'}
		    },
			tooltip: {
			      formatter: function () {
			        return Highcharts.dateFormat('%A, %B %e, %Y', this.x) + ': ' +
			          Highcharts.numberFormat(this.y, 0);
			      }
			    },
		    series: [{
			  name: 'Checkouts',
			  pointInterval: 24 * 3600 * 1000,
			  pointStart: Date.UTC(2010, 07, 10),
		      data: <%= ((Date.new(2012,10,24) - 806).to_date..(Date.new(2012,10,24) - 35).to_date).map { |date| @checkouts.where(:date => date).count}.inspect %>
		    }]
		  });
		});
	</script>
	</div>
	<br />
	<div id='status_chart' style='width: 1750px; height: 700px; display:none'>
		<script type='text/javascript' charset='utf-8'>
		$(function () {
		    new Highcharts.Chart({
		            chart: {
		                renderTo: 'status_chart',
		                type: 'column',
		                margin: [ 50, 50, 100, 80]
		            },
		            title: {
		                text: 'Checkouts By Status'
		            },
		            xAxis: {
		                categories: ["FACULTY", "FR", "GRAD", "GRAD-NCSU-DIST", "JR", "NCSU-DIST-FR", "NCSU-DIST-JR", "NCSU-DIST-SO", "NCSU-DIST-SR", "SO", "SR", "STAFF", "TRLN", "UNDERGRAD"],
		                labels: {
		                    rotation: -45,
		                    align: 'right',
		                    style: {
		                        fontSize: '13px',
		                        fontFamily: 'Verdana, sans-serif'
		                    }
		                }
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Number of Checkouts'
		                }
		            },
		            legend: {
		                enabled: false
		            },
		            tooltip: {
		                formatter: function() {
		                    return '<b>'+ this.x +'</b><br/>'+
		                        'Checkouts: '+ Highcharts.numberFormat(this.y, 0);
		                }
		            },
		            series: [{
		                name: 'Status',
		                data:  <%= ["FACULTY", "FR", "GRAD", "GRAD-NCSU-DIST", "JR", "NCSU-DIST-FR", "NCSU-DIST-JR", "NCSU-DIST-SO", "NCSU-DIST-SR", "SO", "SR", "STAFF", "TRLN", "UNDERGRAD"].map { |status| @checkouts.where(:patron_status =>status).count}.inspect %>,
		                dataLabels: {
		                    enabled: true,
		                    rotation: -90,
		                    color: '#FFFFFF',
		                    align: 'right',
		                    x: 4,
		                    y: 10,
		                    style: {
		                        fontSize: '13px',
		                        fontFamily: 'Verdana, sans-serif'
		                    }
		                }
		            }]
		        });
		    });
		
		</script>
		</div>
	
<% @checkouts.each do |checkout| %>
  <tr class="<%= cycle("odd", "even") -%>">
    <td><%= checkout.call_number %></td>
    <td><%= checkout.date %></td>
    <td><%= checkout.start_time %></td>
    <td><%= checkout.end_time %></td>
    <td><%= checkout.duration %></td>
    <td><%= checkout.patron_status %></td>
    <td><%= checkout.patron_college %></td>
    <td><%= checkout.renewals %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />
