<%= search_form_for @q do |f| %>
<div id="search">
 <div id="item_info">
 <h2>Search By Item Info</h2>
 <p> <%= f.label "Call Number" %>
  <%= f.select :call_number_eq, Item.get_item_call_number, :size => 20 %></p>
</div>
<div id="buttons">
 <div class="example1" id="submit_search"> <%= f.submit %></div> <div class="example1"><span><%= link_to "Clear Search", items_path %></span></div> <div class="example1"><span><%= link_to "Download Results", :action => "index", :q => params[:q], :format => :csv %></span></div>
</div>
<% end %>
<div id="body">
<h2><span style="color:red">Number of Items: <%= @items.count %></span></h2>
<% if @items.empty? %>
  <h2> <span style="font-size:18pt; color:grey">There are no letters that match you query</span></h2>
<% else %>
<table id="main">
  <tr>
    <th>Item</th>
	<th>Call Number</th>
    <th>Location</th>
  </tr>
<% @items.each do |item| %>
<br />
<h2>View Charts</h2>
<%= link_to_function "Checkouts Over Time", "$('#item_checkout').toggle()" %> | <%= link_to_function "Checkouts By Patron Status", "$('#status_chart').toggle()" %><br /><br />
<div id="item_checkout" style='width: 1750px; height: 700px; display:none'>
	<script type="text/javascript" charset="utf-8">
	  $(function () {
	    new Highcharts.Chart({
		    chart: { renderTo: 'item_checkout' },
		    title: { text: 'Checkouts over Time' },
		    xAxis: { type: 'datetime' },
		    yAxis: {
			  min: 0,
			  tickInterval: 1,
		      title: { text: 'Checkouts'}
		    },
		    series: [{
			  	name: 'Checkouts',
				pointInterval: 24 * 3600 * 1000,
				pointStart: Date.UTC(<%= item.checkouts.first.date.to_time.to_s.split(' ')[0].gsub('-', ', ' ) %>),
		      	data: <%= (item.checkouts.first.date..item.checkouts.last.date).map { |date| item.checkouts.where(:date => date).count}.inspect %>
		    }]
		  });
		});
	</script>
	
</div>
<div id='status_chart' style='width: 1750px; height: 700px; display:none'>
	<script type='text/javascript' charset='utf-8'>
	$(function () {
	    new Highcharts.Chart({
	            chart: {
	                renderTo: 'status_chart',
	                type: 'column',
	                margin: [ 50, 50, 100, 80]
	            },
	            title: {
	                text: 'Checkouts By Status'
	            },
	            xAxis: {
	                categories: ["FACULTY", "FR", "GRAD", "GRAD-NCSU-DIST", "JR", "NCSU-DIST-FR", "NCSU-DIST-JR", "NCSU-DIST-SO", "NCSU-DIST-SR", "SO", "SR", "STAFF", "TRLN", "UNDERGRAD"],
	                labels: {
	                    rotation: -45,
	                    align: 'right',
	                    style: {
	                        fontSize: '13px',
	                        fontFamily: 'Verdana, sans-serif'
	                    }
	                }
	            },
	            yAxis: {
	                min: 0,
	                title: {
	                    text: 'Number of Checkouts'
	                }
	            },
	            legend: {
	                enabled: false
	            },
	            tooltip: {
	                formatter: function() {
	                    return '<b>'+ this.x +'</b><br/>'+
	                        'Checkouts: '+ Highcharts.numberFormat(this.y, 0);
	                }
	            },
	            series: [{
	                name: 'Status',
	                data:  <%= ["FACULTY", "FR", "GRAD", "GRAD-NCSU-DIST", "JR", "NCSU-DIST-FR", "NCSU-DIST-JR", "NCSU-DIST-SO", "NCSU-DIST-SR", "SO", "SR", "STAFF", "TRLN", "UNDERGRAD"].map { |status| item.checkouts.where(:patron_status =>status).count}.inspect %>,
	                dataLabels: {
	                    enabled: true,
	                    rotation: -90,
	                    color: '#FFFFFF',
	                    align: 'right',
	                    x: 4,
	                    y: 10,
	                    style: {
	                        fontSize: '13px',
	                        fontFamily: 'Verdana, sans-serif'
	                    }
	                }
	            }]
	        });
	    });
	
	</script>
  <tr class="<%= cycle("odd", "even") -%>">
    <td><%= item.call_number.sub("IQ", "") %></td>
	<td><%= item.call_number %></td>
    <td><%= item.location.sub("UM", "") %></td>
    <% if !item.checkouts.empty? %>
	  <tr>
	    <td class="record_link"><a href="#record">Checkouts: <%= item.checkouts.count %></a>
	   	<br/>
	    <%= item.checkouts.first.date %>-<%= item.checkouts.last.date %>
	 	</td>
	  </tr>    
	  <tr id="<%= item.id.to_s %>" style="display: none">
      	<td class="new_table">
	    	<table>
		    	<tr>
			    	<th>Checkout Date</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Patron Status</th>
					<th>Patron College</th>
					<th>Renewals</th>
					<th>Duration</th>
			    </tr>  
			    <% item.checkouts.each do |co| %> 
			    	<tr>
				    	<td><%= co.date %></td>
					    <td><%= co.start_time.strftime("%I:%M%p") %></td>
						<% if !co.end_time.nil? %>
				        	<td><%= co.end_time.strftime("%I:%M%p") %></td>
						<% else %>
							<td><%= co.end_time %></td>
						<% end %>	
				        <td><%= co.patron_status %></td>
				        <td><%= co.patron_college %></td>
				        <td><%= co.renewals %></td>
				        <td><%= co.duration %></td>
			      	</tr>
	     		<% end %>
	   		</table>
		</td>
	  </tr> 
	  <% end %>
  </tr>
<% end %>
</table>
</div>
<% end %>
